

/* Note: overcome Angular's view encapsulation w/ the /deep/ operator
https://www.npmjs.com/package/ngx-pagination#styling */

.paginationDiv{
  margin-top: 1rem;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: #930303;
}

.my-pagination /deep/ .ngx-pagination li{
  background: #403f45;
}

.my-pagination /deep/ .ngx-pagination li a{
  color: beige;
}

.my-pagination /deep/ .ngx-pagination li a:hover{
  background: #c03131;
}
