/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';


body{
  /* background-color: #716671; */
  background-position: center;
  background-image: url("./assets/images/header.jpg");
  background-size: cover no-repeat;


}
.container{
  margin-top: 150px;
  color: beige;
  max-width: 900px;

}
.home-column{
  text-align: center;
}

h1{
  margin-bottom: 40px;
}
img{
  max-width: 100%;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
	color: #af0404;
}

 .nav-item{
  margin-right: 5px;

}
.btn{
  color: beige;
}
.active[_ngcontent-c1] {
    background-color: #b1a7a7;
    border: 1px solid #7b7563;
    border-radius: 4px;
}

tr{
  height: 40px;
  border-bottom: 3px solid beige;
}


.column1{
  display: flex;
  justify-content: center;
}

.btn-column{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.btn-detail, .btn-edit{
  margin-right: .25rem;
  margin-left: .25rem;
}
h1 ,h6{
  color: beige;
}

h2{
  color: #9ab890;
  font-size: 18px;
}
/* .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
    margin-top: 6rem;

} */


.contactlist {
    margin-top: 7rem;
    /* margin-left: auto;
    margin-right: auto; */


}

.contactEdit{
  margin-top: 7rem;
  /* margin-left: auto; */
  /* width: 70vw; */
}

.contactDetail{
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  /* margin-left: auto;
  margin-right: auto; */
}



form{
  margin: 0 auto;
}
.title a, label{
  color: #ef8618;
}

a.button.is-text{
  color: #e9f1f9;
}

 .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #ecf0f5;
    color: #ecf0f5;
}

.back, .create{
  border: 2px solid #e01005;
  border-radius: 4px;
  display: block;
  width: 85vw;
  margin: 2rem 2rem;
  background-color: #ad8565;
  color: beige;
  padding: 4px;


}
table thead th{
  color: #ece5d9;
}

input{
  width: 83vw;
  /* margin-right: 5%;
  margin-left: 3%; */
}

label{
  margin-right: 5%;
}

.detail-container{
    border: 2px dashed #d3cdcd;
    border-radius: 4px;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, .2);
    max-width: 98vw;

}



@media screen and (max-width: 992px) {
  h1 {
    font-size: 25px;
  }
  h2{
    font-size: 16px;
  }
  /* .btn-detail{
    margin-right: 7px;
    margin-left: 7px;
  } */
  .btn-column{
    display: flex;
    justify-content: space-around;
    /* margin-left: 0rem; */
  }
  section{
    margin-bottom: 2rem;
  }

  .container{
    max-width: 800px;
  }

}

@media screen and (max-width: 768px){
  input{
    width: 90vw;
  }
}

@media screen and (max-width: 450px){
  .back, .create{
    width: 75vw;
  }
}

@media screen and (max-width: 600px){
  .nav-item .btn{
    width: 90vw;
    margin-bottom: 2px;
  }
  .container{
    padding-left: 8px;
    padding-right: 8px;
  }
  .contact-edit{
      /* margin-right: 20%; */
  }

  label{
    /* margin-right: 5%; */
  }
}


@media screen and (min-width: 1150px){
  input{
    width: 62vw;
  }
  .back, .create{
    width: 58vw;
  }
  /* .btn-detail, .btn-edit{
    margin-left: 12rem;
  } */
}
