.search-result {
	list-style-type: none;
	margin-top: 3rem;
	/* background-color: red; */
	text-align: center;

}

#search-box{
  width: 70vw;
  border-radius: 6px;
  height: 50px;
}


li{
  margin-right: 6vw;
}
li a{
  color: beige;
  font-size: 30px;
  /* margin-right: 10vw; */

}

input[type=text] {
    border: 2px solid red;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
		color: #7b0101;
}

input[type=text]:focus {
    background-color: #960f03;
		border: 3px solid #ded9c9;
		color: beige;
}
